.row {
    margin-bottom: 15px;
  }
  .row > div {
    border: 2px solid blue;
    background-color: wheat;
  }
  h1 {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: cyan;
      color: slategray;
  }
  button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}