@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: cadetblue;
}
.wrapper {
    position:absolute;
    top: 25%;
    right:10%;
    transform: translate(-50%, -50%);
}