body {
  background: #065;
  color: #fff;
  padding: 10px;
  font-family: sans-serif;
  text-align: justify;
  position: relative;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  }
h1 {
  font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Poppins', sans-serif;
text-align: center;
}
#div1 {
  border: black 4px solid;
  margin: 5px;
}
#content1 {
   border: white 3 px solid;
  text-align: justify;
  padding: 7px;
  margin: 5px;
  width: 33%;
   float: left;
}
#content2 {
  border: white 3 px solid;
  text-align: justify;
  padding: 7px;
  margin: 5px;
  width: 33%;
  height: 50%;
  float: right;
}
#content3 {
  padding: 7px;
  margin: 5px;
  }
#container {
  text-align: center;
  padding: 7px;
  width: auto;
  margin: auto;
}
